@model BlogVM

    <section class="blog-single" style="margin:8rem 0">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <img class="img-fluid" src="@Model.BlogSingle.PhotoUrl"
                         alt="@Model.BlogSingle.Header" />
                </div>
                <div class="col-lg-7">
                    <div class="blog-right">
                        <h1>@Model.BlogSingle.Header</h1>
                        <span>@Model.BlogSingle.PublishDate</span>
                        <p>@Model.BlogSingle.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="latest-news-area nav-on-hover" id="news">
        <div class="container">
            <div class="section-title">
                <h2>Same News</h2>
            </div>
        </div>
        <div class="container">
            <div class="gym-carousel nav-control-top" data-loop="true" data-items="3" data-margin="30" data-autoplay="false" data-autoplay-timeout="10000" data-smart-speed="2000" data-dots="false" data-nav="true" data-nav-speed="false" data-r-x-small="1" data-r-x-small-nav="true" data-r-x-small-dots="false" data-r-x-medium="1" data-r-x-medium-nav="true" data-r-x-medium-dots="false" data-r-small="2" data-r-small-nav="true" data-r-small-dots="false" data-r-medium="3" data-r-medium-nav="true" data-r-medium-dots="false" data-r-large="3" data-r-large-nav="true" data-r-large-dots="false">
                @foreach (var item in Model.SameBlogs)
                {
                    <div class="single-latest-news">
                        <div class="single-news">
                            <div class="single-image"><img src="@item.PhotoUrl" alt="news1"></div>
                            <div class="date">
                                @item.PublishDate.Day
                                <br>@item.PublishDate.ToString("MMM")
                                <br>@item.PublishDate.Year
                            </div>
                        </div>
                        <div class="news-content">
                            <h3><a href="/home/featuredDetail/@item.Id">@item.Header</a></h3>
                            <p>
                                @(item.Description.Length>120? item.Description.Substring(0,120):item.Description)
                                <a href="/home/featuredDetail/@item.Id">...</a>
                            </p>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>